<title>My application deployed automatically</title>
<h1>Hello, World!</h1>
<p>This app returns index's value where the index computed from given index and given number acording to the given operation like 0 is sum and 1 is sub. </p>
<p>e.g.  First --> Enter array elements<p>
<p>Second --> Enter start index<p>
<p>Third --> Enter operation no (0 add, 1 sub)<p>
<p>Fourth --> Enter distance number to be add or sum to the index<p>
Result is {{result}}

<form action="compute" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<textarea name="input3" rows="10" cols="30"></textarea>
<textarea name="input4" rows="10" cols="30"></textarea>
<br>
<input type="submit">
</form>